<div class="overlay-container" ng-if="dataCtrl.show">
  <div class="overlay-content">
    <i class="fa fa-window-close close" aria-hidden="true" ng-click="dataCtrl.openClose()"></i>
    <div class="today">
      <h1>{{dataCtrl.task}}</h1>
      <span><strong>Today:</strong> {{dataCtrl.todayTally}} - </span>
      <span><strong>Total time today:</strong> {{dataCtrl.todayTime}}</span>
    </div>
    <div class="data-options">
      <button class="week" ng-class="{'selected': dataCtrl.selected.week}" ng-click="dataCtrl.getRange('Week')">Week</button>
      <button class="month" ng-click="dataCtrl.getRange('Month')" ng-class="{'selected': dataCtrl.selected.month}">Month</button>
      <button class="year" ng-click="dataCtrl.getRange('Year')" ng-class="{'selected': dataCtrl.selected.year}">Year</button>
    </div>
    <span><strong>{{dataCtrl.totalCat}} total:</strong> {{dataCtrl.rangeTally}}</span>
    <span><strong>{{dataCtrl.totalCat}} total time:</strong> {{dataCtrl.rangeTime}}</span>
    <div class="graph" ng-class="{'monthly':dataCtrl.monthView}">
      <div class="bars">
        <div class="bar" ng-repeat="bar in dataCtrl.bars" ng-style="{height: bar.height, width: bar.width}">
          <span ng-if="bar.tally > 0">{{bar.tally}}</span>
        </div>
      </div>
      <div class="dates">
        <span ng-repeat="date in dataCtrl.rangeDates track by $index" ng-style="{width: dataCtrl.rangeWidth}">{{date}}</span>
      </div>
    </div>
  </div>
</div>
