<div class="overlay-container" ng-if="dataCtrl.show">
  <div class="overlay-content">
    <i class="fa fa-window-close close" aria-hidden="true" ng-click="dataCtrl.openClose()"></i>
    <div class="today">
      <h1>{{dataCtrl.task}}</h1>
      <span><strong>Today:</strong> {{dataCtrl.todayTally}} - </span>
      <span><strong>Total time today:</strong> {{dataCtrl.todayTime}}</span>
    </div>
    <div class="data-options">
      <button class="week">Week</button>
      <button class="month">Month</button>
      <button class="year">Year</button>
    </div>
    <span><strong>{{dataCtrl.totalCat}} total:</strong> {{dataCtrl.weekTally}}</span>
    <span><strong>{{dataCtrl.totalCat}} total time:</strong> {{dataCtrl.weekTime}}</span>
    <div class="graph">

    </div>
  </div>
</div>
